.outlined {
    box-shadow: 0 0 0px 1px rgb(61, 61, 61);
}
.shadowed-l {
    box-shadow: 0 0 4px .01rem rgb(61, 61, 61);
}
.shadowed-m {
    box-shadow: 0 0 6px .01rem rgb(61, 61, 61);
}
.shadowed-h {
    box-shadow: 0 0 8px .01rem rgb(61, 61, 61);
}
.glow {
    box-shadow: 0 0 8px .01rem $color_main;
    transition: box-shadow 300ms linear;
}
.rounded {
    border-radius: .2em;
}
.text-center {
    text-align: center;
}