
@font-face {
    font-family: Open_Sans sans-serif;
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Neuropolitical sans-serif;
    src: url("./fonts/Neuropolitical/neuropolitical\ rg.ttf");
}

@font-face {
    font-family: Prototype sans-serif;
    src: url("./fonts/Prototype/Prototype.ttf");
}

@font-face {
    font-family: Montserrat sans-serif;
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

$color_main:#33CC33;
$color_gray: #828282;
$color_white: #FCFCFC;
$color_lightgray: #c2c2c2;
$color_white: #FCFCFC;
$font_alt: 'Roboto' sans-serif;
$font_main: Open_Sans sans-serif;